<form class="flex flex-column login-form" [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <h2>{{title}}</h2>
  <mat-form-field class="mb-16" appearance="standard">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email">
    <mat-error *ngIf="(emailErrors)?.required">Required</mat-error>
    <mat-error *ngIf="(emailErrors)?.pattern">Incorrect email</mat-error>
  </mat-form-field>
  <mat-form-field floatLabel="auto" class="mb-24" appearance="standard">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error *ngIf="(passwordErrors)?.required">Required</mat-error>
    <mat-error *ngIf="(passwordErrors)?.minLength">Minimum 6 characters</mat-error>
  </mat-form-field>
  <button class="mb-24" [disabled]="loginForm.invalid" type="submit" mat-flat-button color="primary">Submit</button>
  <div class="pt-20">
    <a *ngIf="title==='Login'" routerLink="/auth/register">Register here</a>
    <a *ngIf="title==='Register'" routerLink="/auth/login">Log in here</a>
  </div>
</form>
