<div class="flex flex-column align-center">
  <div class="image-container mb-24 flex align-center center">
    <img mat-card-image [src]="photoUrl || fallbackUrl">
  </div>
  <div class="flex flex-row space-between">
    <input id="fileInput" #ref  style="display: none" type="file" (change)="handleUpload($event.target.files)">
    <button mat-flat-button style="margin-right: 8px" color="primary" (click)="focus(ref)">Upload photo</button>
    <button mat-flat-button color="warn" (click)="delete()">Delete photo</button>
  </div>
</div>
