
<header class="pt-16 mb-100">
  <nav mat-tab-nav-bar [backgroundColor]="'blue'">
    <a mat-tab-link [active]="rla.isActive"
       routerLinkActive #rla="routerLinkActive"
       [routerLink]="['/map']">Map</a>

    <a mat-tab-link
       [active]="rla2.isActive"
       routerLinkActive #rla2="routerLinkActive"
       [routerLink]="['/list']">List</a>
  </nav>

  <div class="header-right pr-24">
    <mat-form-field class="search mr-40">
      <mat-label>Search</mat-label>
      <input matInput type="text" #searchInput (input)="searchUsers(searchInput.value)">
      <button mat-button *ngIf="searchInput.value"
              (click)="searchInput.value = ''"
              matSuffix mat-icon-button
              aria-label="Clear">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button
            routerLinkActive #rlaButton="routerLinkActive"
            role="link" [routerLink]="['/profile']"
            [color]="rlaButton.isActive? 'primary' : 'basic'">Profile
    </button>
  </div>

</header>
<router-outlet></router-outlet>
